<!-- Collect the nav links, forms, and other content for toggling -->
<%# <div class="collapse navbar-collapse" id="collapsibleNavbar"> %>
<div class='collapse navbar-collapse' id="collapse_target">
  <ul class="navbar-nav">
    <%= render collapsible_links_partial_path %>
  </ul>
</div><!-- navbar-collapse -->